<?xml version="1.0"?>
<config>
    <modules>
        <Pivodirtjumper_RuleRelation>
            <version>0.0.3</version>
        </Pivodirtjumper_RuleRelation>
    </modules>

    <global>
        <models>
            <catalog>
                <rewrite>
                    <product>Pivodirtjumper_RuleRelation_Model_Rewrite_Catalog_Product</product>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product_collection>Pivodirtjumper_RuleRelation_Model_Rewrite_Catalog_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <pivodirtjumper_rulerelation>
                <class>Pivodirtjumper_RuleRelation_Model</class>
                <resourceModel>pivodirtjumper_rulerelation_resource</resourceModel>
            </pivodirtjumper_rulerelation>
            <pivodirtjumper_rulerelation_resource>
                <class>Pivodirtjumper_RuleRelation_Model_Resource</class>
                <entities>
                    <rulerelation>
                        <table>pivodirtjumper_rulerelation</table>
                    </rulerelation>
                    <index>
                        <table>pivodirtjumper_rulerelation_index</table>
                    </index>
                </entities>
            </pivodirtjumper_rulerelation_resource>
        </models>
        <helpers>
            <pivodirtjumper_rulerelation>
                <class>Pivodirtjumper_RuleRelation_Helper</class>
            </pivodirtjumper_rulerelation>
        </helpers>
        <blocks>
            <pivodirtjumper_rulerelation>
                <class>Pivodirtjumper_RuleRelation_Block</class>
            </pivodirtjumper_rulerelation>
        </blocks>
        <resources>
            <pivodirtjumper_rulerelation_setup>
                <setup>
                    <module>Pivodirtjumper_RuleRelation</module>
                    <class>Pivodirtjumper_RuleRelation_Model_Resource_Setup</class>
                </setup>
            </pivodirtjumper_rulerelation_setup>
            <pivodirtjumper_rulerelation_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </pivodirtjumper_rulerelation_write>
            <pivodirtjumper_rulerelation_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </pivodirtjumper_rulerelation_read>
        </resources>
        <index>
            <indexer>
                <rulerelation_index>
                    <model>pivodirtjumper_rulerelation/indexer</model>
                </rulerelation_index>
            </indexer>
        </index>
    </global>

    <admin>
        <routers>
            <pivodirtjumper_rulerelation>
                <use>admin</use>
                <args>
                    <module>Pivodirtjumper_RuleRelation</module>
                    <frontName>rulerelation</frontName>
                </args>
            </pivodirtjumper_rulerelation>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <pivodirtjumper_rulerelation>
                    <file>pivodirtjumper/rulerelation.xml</file>
                </pivodirtjumper_rulerelation>
            </updates>
        </layout>
    </adminhtml>


</config>